{% extends 'base.html.twig' %}

{% block title %}Zaragoza comercio{% endblock %}

{% block body %}
    <div class="buscador">
        <div class="container-fluid text-center">
            <div class="row">
                <h1>Zaragoza comercio</h1>
                <h2>Negocios de proximidad</h2>
                <h3>para tu comodidad</h3>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="barra col-10 col-md-8 col-lg-6 shadow-3-strong">
                    <div class="input-group">
                        <input class="form-control sin-focus" type="text" id="search-input"
                               placeholder="Buscar comercios" aria-describedby="lupa">
                        <span class="input-group-text" id="lupa">
                    <i class="fas fa-magnifying-glass fa-lg"></i>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fondo-rojo me-2 pt-2 mb-5 shadow-3-strong py-5 pt-5">
        {#  Aquí pinta las tarjetas de comercio  #}
        <div class="row justify-content-center" id="search-results"></div>
    </div>

    {#  Aquí pinta las tarjetas de categoría #}
    <div class="container mt-5 mb-5" id="categorias">

        <div class="row justify-content-center g-3 d-flex">
            {% for categoria in categorias %}
                <div class="col-6 col-md-4 col-lg-2 mt-3 ">
                    <div class="shadow-1-soft categoria p-1">
                        <a class="text-capitalize" href="/categoria/{{ categoria.id }}">
                            <img class="icono-148" src={{ asset(categoria.icono) }} alt="icono" >
                            <div class="">
                                <p>{{ categoria.nombre }} </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="intcomercio shadow-1-soft mt-5">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-md-5 imagen-comercio"></div>

                <div class="col-md-7">
                    <h2 class="mt-5">¿Quieres qué tu comercio aparezca aquí?</h2>
                    <h3 class="mt-3">
                        Si eres propietario de un comercio en Zaragoza, puedes inscribirte en nuestra plataforma para
                        ampliar tu alcance y contribuir al dinámico paisaje comercial de la ciudad.
                    </h3>
                    <h3 class="mt-5">
                        Puedes registrar tu comercio haciendo click aquí:
                    </h3>
                    <div class="col">
                        {% if app.user %}
                            <a class="btn btn-ZC" href="{{ path('comercio_new') }}">
                                Registrar Comercio
                            </a>
                        {% else %}
                            <a class="btn btn-ZC" href="{{ path('app_login') }}">
                                Registrar Comercio
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quees shadow-1-soft mt-5">
        <div class="container-fluid m-0">
            <div class="row">

                <div class="col-md-9">
                    <h2 class="mt-5">¿Qué es Zaragoza comercio?</h2>
                    <h3 class="mt-3">
                        Zaragoza comercio es plataforma en línea que reúne una variedad de negocios y tiendas
                        en un solo lugar, facilitando a los usuarios la búsqueda de productos o servicios.
                    </h3>
                    <h3 class="mt-5">
                        Echa un vistazo.
                    </h3>
                </div>
                <div class="col-md-3 imagen-quees"></div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script>
        const searchInput = document.getElementById('search-input');
        const searchResults = document.getElementById('search-results');
        let controller = new AbortController();
        let timeout;
        var imgComercio;

        searchInput.addEventListener('input', function () {

            clearTimeout(timeout);

            controller.abort();

            controller = new AbortController();

            timeout = setTimeout(() => {
                if (searchInput.value.trim() == '' || searchInput.value.trim() == null) {
                    searchResults.innerHTML = '';

                } else {
                    const searchTerm = searchInput.value.trim();
                    const url = '/buscar?search=' + searchTerm;

                    fetch(url, {
                        signal: controller.signal
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Limpiar los resultados anteriores
                            searchResults.innerHTML = '';

                            if (data.length === 0) {
                                // No se encontraron resultados sin acentos, intenta con acentos y en la descripción
                                const searchTermWithAccents = removeAccents(searchTerm);
                                const urlWithAccents = '/buscar?search=' + searchTermWithAccents;

                                fetch(urlWithAccents)
                                    .then(response => response.json())
                                    .then(dataWithAccents => {
                                        dataWithAccents.forEach(comercio => {
                                            if (comercio.estado != 1 && comercio.estado != 3) {
                                                console.log(comercio.estado);
                                                imagenComercio(comercio);
                                                searchResults.innerHTML +=
                                                    '<div class="comercio-card col-6 col-md-4 col-lg-3 mt-3">' +
                                                    '<div class="text-capitalize card shadow-3-strong">' +
                                                    '<a href="/comercio/' + comercio.id + '">' +
                                                     imgComercio +
                                                    '<div class="card-body">' +
                                                    '<p class="card-text">' + comercio.nombre + '</p>' +
                                                    '<p class="card-text" style="font-size: small">' + comercio.categoria + '</p>' +
                                                    '</div>' +
                                                    '</a>' +
                                                    '</div>';
                                            }
                                        });
                                    })
                                    .catch(error => {
                                        console.error('Error al buscar con acentos y en la descripción:', error);
                                    });

                                // Intenta buscar palabras clave en la descripción
                                const urlWithKeywords = '/buscar?search=' + searchTerm + '&searchInDescripcionKeywords=true';

                                fetch(urlWithKeywords)
                                    .then(response => response.json())
                                    .then(dataWithKeywords => {
                                        dataWithKeywords.forEach(comercio => {
                                            if (comercio.estado != 1 && comercio.estado != 3) {
                                                console.log(comercio.estado);
                                                imagenComercio(comercio);
                                                searchResults.innerHTML +=
                                                    '<div class="comercio-card col-6 col-md-4 col-lg-3 mt-3">' +
                                                    '<div class="text-capitalize card shadow-3-strong">' +
                                                    '<a href="/comercio/' + comercio.id + '">' +
                                                    imgComercio +
                                                    '<div class="card-body">' +
                                                    '<p class="card-text">' + comercio.nombre + '</p>' +
                                                    '<p class="card-text" style="font-size: small">' + comercio.categoria + '</p>' +
                                                    '</div>' +
                                                    '</a>' +
                                                    '</div>';
                                            }
                                        });
                                    })
                                    .catch(error => {
                                        console.error('Error al buscar palabras clave en la descripción:', error);
                                    });
                            } else {
                                data.forEach(comercio => {
                                    if (comercio.estado != 1 && comercio.estado != 3) {
                                        console.log(comercio.estado);
                                        imagenComercio(comercio);
                                        searchResults.innerHTML +=
                                            '<div class="comercio-card col-6 col-md-4 col-lg-3 mt-3">' +
                                            '<div class="text-capitalize card shadow-3-strong">' +
                                            '<a href="/comercio/' + comercio.id + '">' +
                                            imgComercio +
                                            '<div class="card-body">' +
                                            '<p class="card-text">' + comercio.nombre + '</p>' +
                                            '<p class="card-small card-text">' + comercio.categoria + '</p>' +
                                            '</div>' +
                                            '</a>' +
                                            '</div>';
                                    }
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error al buscar:', error);
                        });
                }
            }, 300);
        });

        function imagenComercio(comercio){
            if (comercio.foto) {
                imgComercio = '<img src="/storage/thumb/' + comercio.id + '/' + comercio.foto + '" class="card-top card-img-top d-flex align-items-center" "' + comercio.nombre + '">';
            } else{
                imgComercio = '<img src="/img/tienda.jpg" class="card-top card-img-top d-flex align-items-center" alt="' + comercio.nombre + '">';
            }
        }

        // Función para eliminar acentos y caracteres especiales
        function removeAccents(str) {
            return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
        }
    </script>
{% endblock %}
