{% extends 'base.html.twig' %}

{% block title %}Zaragoza comercio{% endblock %}

{% block body %}
    <div class="buscador shadow-3-strong">
        <div class="container-fluid text-center">
            <div class="row pabajo">
                <h1>Zaragoza comerio</h1>
                <h3>Cosas flaules y chulas</h3>
                <h5>magic everywhere</h5>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="barra col-10 col-md-8 col-lg-6 shadow-3-strong">
                    <div class="input-group">
                        <input class="form-control sin-focus" type="text" id="search-input"
                               placeholder="Buscar comercios"
                               style="border: none; outline: none;" aria-describedby="lupa">
                        <span class="input-group-text" id="lupa" style="border: none; outline: none;">
                    <i class="fas fa-magnifying-glass fa-lg" style="color: #7e868c"></i>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    prueba iconos #}
    <div class="fondo-iconos me-2 pt-2 mb-5">
        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-martini-glass-empty m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-martini-glass-empty m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>
        <i class="fa-solid fa-key m-3"></i>
        <i class="fa-solid fa-camera-retro m-3"></i>

        <i class="fa-solid fa-bridge m-3"></i>
        <i class="fa-regular fa-lemon m-3"></i>
        <i class="fa-solid fa-shop m-3"></i>
        <i class="fa-solid fa-hammer m-3"></i>
        <i class="fa-solid fa-basket-shopping m-3"></i>
        <i class="fa-regular fa-lightbulb m-3"></i>

    </div>

    {#  Aquí pinta las tarjetas de comercio  #}
    <div class="row justify-content-center" id="search-results"></div>

    {#    <div class="divisor"></div> #}

    {#  Aquí pinta las tarjetas de categoría #}
    <div class="container-fluid mt-5 mb-5">
        <div class="row justify-content-center text-center">
            <h2>Categorías</h2>
        </div>
        <div class="row justify-content-center" id="categorias00">
            {% for categoria in categorias %}
                <div class="col-6 col-md-4 col-lg-3 mt-3" style="width: 10rem;">
                    <div class="categoria shadow-3-strong">
                        <a href="/categoria/{{ categoria.id }}">
                            <i class="{{ categoria.icono }} fa-4x text-secondary"></i>
                            <div class="">
                                <p class="text-secondary">{{ categoria.nombre }} </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="intcomercio mt-5">
        <div class="container-fluid">
            <div class="row">
                <h2 class="mt-5">¿Quieres qué tu comercio aparezca aquí?</h2>
                <h4 class="mt-3">
                    Si eres propietario de un comercio en Zaragoza, puedes inscribirte en nuestra plataforma para
                    ampliar tu alcance y contribuir al dinámico paisaje comercial de la ciudad.
                </h4>
                <h5 class="mt-5">
                    Puedes registrar tu comercio haciendo click aquí:
                </h5>
                <div class="col">
                    {% if app.user %}
                        <a class="btn btn-ZC" href="{{ path('comercio_new') }}">
                            Registrar Comercio
                        </a>
                    {% else %}
                        <a class="btn btn-ZC" href="{{ path('app_login') }}">
                            Registrar Comercio
                        </a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 mb-5">
        <div class="quees bg-body-tertiary">
            <h2>¿Qué es esta mierda?</h2>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script>
        const searchInput = document.getElementById('search-input');
        const searchResults = document.getElementById('search-results');
        let controller = new AbortController();
        let timeout;

        searchInput.addEventListener('input', function () {

            clearTimeout(timeout);

            controller.abort();

            controller = new AbortController();

            timeout = setTimeout(() => {
                if (searchInput.value.trim() == '' || searchInput.value.trim() == null) {
                    searchResults.innerHTML = '';

                } else {
                    const searchTerm = searchInput.value.trim();
                    const url = '/buscar?search=' + searchTerm;

                    fetch(url, {
                        signal: controller.signal
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Limpiar los resultados anteriores
                            searchResults.innerHTML = '';

                            if (data.length === 0) {
                                // No se encontraron resultados sin acentos, intenta con acentos y en la descripción
                                const searchTermWithAccents = removeAccents(searchTerm);
                                const urlWithAccents = '/buscar?search=' + searchTermWithAccents;

                                fetch(urlWithAccents)
                                    .then(response => response.json())
                                    .then(dataWithAccents => {
                                        dataWithAccents.forEach(comercio => {
                                            if (comercio.estado != 1 && comercio.estado != 3) {
                                                console.log(comercio.estado);
                                                searchResults.innerHTML +=
                                                    '<div class="col-6 col-md-4 col-lg-3 mt-3" style="width: 20rem;">' +
                                                    '<div class="card shadow-3-strong">' +
                                                    '<a href="/comercio/' + comercio.id + '">' +
                                                    '<img src="/storage/' + comercio.id + '/' + comercio.foto + '" class="card-img-top d-flex align-items-center" alt="Foto comercio" style="border-bottom-left-radius: 4rem; height: 12rem;">' +
                                                    '<div class="card-body">' +
                                                    '<p class="card-text">' + comercio.nombre + '</p>' +
                                                    '<p class="card-text" style="font-size: small">' + comercio.categoria + '</p>' +
                                                    '</div>' +
                                                    '</a>' +
                                                    '</div>';
                                            }
                                        });
                                    })
                                    .catch(error => {
                                        console.error('Error al buscar con acentos y en la descripción:', error);
                                    });

                                // Intenta buscar palabras clave en la descripción
                                const urlWithKeywords = '/buscar?search=' + searchTerm + '&searchInDescripcionKeywords=true';


                                fetch(urlWithKeywords)
                                    .then(response => response.json())
                                    .then(dataWithKeywords => {
                                        dataWithKeywords.forEach(comercio => {
                                            if (comercio.estado != 1 && comercio.estado != 3) {
                                                console.log(comercio.estado);
                                                searchResults.innerHTML +=
                                                    '<div class="col-6 col-md-4 col-lg-3 mt-3" style="width: 20rem;">' +
                                                    '<div class="card shadow-3-strong">' +
                                                    '<a href="/comercio/' + comercio.id + '">' +
                                                    '<img src="/storage/' + comercio.id + '/' + comercio.foto + '" class="card-img-top d-flex align-items-center" alt="Foto comercio" style="border-bottom-left-radius: 4rem; height: 12rem;">' +
                                                    '<div class="card-body">' +
                                                    '<p class="card-text">' + comercio.nombre + '</p>' +
                                                    '<p class="card-text" style="font-size: small">' + comercio.categoria + '</p>' +
                                                    '</div>' +
                                                    '</a>' +
                                                    '</div>';
                                            }
                                        });
                                    })
                                    .catch(error => {
                                        console.error('Error al buscar palabras clave en la descripción:', error);
                                    });
                            } else {
                                data.forEach(comercio => {
                                    if (comercio.estado != 1 && comercio.estado != 3) {
                                        console.log(comercio.estado);
                                        searchResults.innerHTML +=
                                            '<div class="col-6 col-md-4 col-lg-3 mt-3" style="width: 20rem;">' +
                                            '<div class="card shadow-3-strong">' +
                                            '<a href="/comercio/' + comercio.id + '">' +
                                            '<img src="/storage/' + comercio.id + '/' + comercio.foto + '" class="card-img-top d-flex align-items-center" alt="Foto comercio" style="border-bottom-left-radius: 4rem; height: 12rem;">' +
                                            '<div class="card-body">' +
                                            '<p class="card-text">' + comercio.nombre + '</p>' +
                                            '<p class="card-text" style="font-size: small">' + comercio.categoria + '</p>' +
                                            '</div>' +
                                            '</a>' +
                                            '</div>';
                                    }
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error al buscar:', error);
                        });
                }
            }, 300);
        });

        // Función para eliminar acentos y caracteres especiales
        function removeAccents(str) {
            return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
        }
    </script>

{% endblock %}
