{% extends 'base.html.twig' %}

{% block title %}{{ categoria.nombre }}{% endblock %}
{% block body %}
    <section class="container " style="margin-top: 10%">
        <h1 style="text-align: center; margin-top: 5%">Editar categoria</h1>
        <div class="">
            <div class="row">

                {{ form_start(form) }}
                <div class="col">
                    <!-- Name input -->
                    <div class="form-outline mb-3 mt-5">
                        <input name="{{ field_name(form.nombre) }}" type="text" id="form5Example2" class="form-control"
                               value="{{ categoria.nombre }}"/>
                        <label class="form-label" for="form5Example2">{{ field_label(form.nombre) }}</label>
                    </div>
                    <!-- Icono input -->
                    <div class="form-outline mb-3">
                        <input name="{{ field_name(form.icono) }}" type="text" id="form5Example2" class="form-control"
                               value="{{ categoria.icono }}"/>
                        <label class="form-label" for="form5Example2">{{ field_label(form.icono) }}</label>
                    </div>

                    <div style="text-align: center; margin-top: 3%">
                        <button type="submit" class="btn btn-link btn-sm btn-rounded">
                            <a href="{{ path('admin_categorias') }}">
                                <i class="far fa-square-check fa-2x"
                                   style="color: green">{{ button_label|default('') }}</i></a>
                        </button>

                        <a href="{{ path('categoria_delete', {'id': categoria.id}) }}"
                           class="btn btn-link btn-sm btn-rounded">
                            <i class="fas fa-trash-can fa-2x" style="color: #B0413E"></i></a>
                    </div>

                </div>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
{% endblock %}
