{% extends 'base.html.twig' %}

{% block title %}{{ comercio.nombre }}{% endblock %}
{% block body %}
    <div class="mt-5"></div>
    <section class="container-fluid">
        <!-- Tabs nav vertical -->
        <div class="row w-100 p10">
            <div class="col-md-3" id="navVertical">
                <!-- Tab navs -->
                <div
                        class="nav flex-column nav-tabs text-center mt-5"
                        id="v-tabs-tab"
                        role="tablist"
                        aria-orientation="vertical"
                >
                    <a
                            data-mdb-tab-init
                            class="nav-link active"
                            id="v-tabs-comercio-tab"
                            href="#v-tabs-comercio"
                            role="tab"
                            data-mdb-toggle="pill"
                            aria-controls="v-tabs-comercio"
                            aria-selected="true"
                    >Datos del comercio</a
                    >
                    <a
                            data-mdb-tab-init
                            class="nav-link"
                            id="v-tabs-categorias-tab"
                            href="#v-tabs-categorias"
                            role="tab"
                            data-mdb-toggle="pill"
                            aria-controls="v-tabs-categorias"
                            aria-selected="false"
                    >Categorías</a
                    >
                    <a
                            data-mdb-tab-init
                            class="nav-link"
                            id="v-tabs-horarios-tab"
                            href="#v-tabs-horarios"
                            role="tab"
                            data-mdb-toggle="pill"
                            aria-controls="v-tabs-horarios"
                            aria-selected="false"
                    >Horarios</a
                    >
                    <a
                            data-mdb-tab-init
                            class="nav-link"
                            id="v-tabs-fotos-tab"
                            href="#v-tabs-fotos"
                            role="tab"
                            data-mdb-toggle="pill"
                            aria-controls="v-tabs-fotos"
                            aria-selected="false"
                    >Fotos</a
                    >
                    <a
                            data-mdb-tab-init
                            class="nav-link d-flex justify-content-center"
                            id="v-tabs-eliminar-tab"
                            href="#v-tabs-eliminar"
                            role="tab"
                            data-mdb-toggle="pill"
                            aria-controls="v-tabs-eliminar"
                            aria-selected="false"
                    >
                        <button type="button" class="btn btn-link btn-sm btn-rounded nav-link"
                                data-mdb-toggle="modal"
                                data-mdb-target="#borrarComercio">
                            Eliminar comercio
                            <i class="fas fa-trash-can fa-1x px-1 red"></i>
                        </button>
                    </a
                    >
                </div>
                <!-- Tab navs -->
            </div>

            <div class="col-md-9 mb-5" id="navVertical2">
                <!-- Tab content -->
                <div class="tab-content" id="v-tabs-tabContent">
                    <!-- content comercio -->
                    <div
                            class="tab-pane fade show active"
                            id="v-tabs-comercio"
                            role="tabpanel"
                            aria-labelledby="v-tabs-comercio-tab"
                    >
                        <h1 class="text-center mt-3">Editar comercio</h1>
                        <div class="">
                            <div class="row">

                                {{ form_start(form) }}
                                <div class="col">
                                    <!-- Name input -->
                                    <div class="form-outline mb-3 mt-5">
                                        <input name="{{ field_name(form.nombre) }}" type="text" id="form5Example2"
                                               class="form-control"
                                               value="{{ comercio.nombre }}"/>
                                        <label class="form-label"
                                               for="form5Example2">{{ field_label(form.nombre) }}</label>
                                    </div>
                                    <!-- Email input -->
                                    <div class="form-outline mb-3">
                                        <input name="{{ field_name(form.email) }}" type="email" id="form5Example2"
                                               class="form-control"
                                               value="{{ comercio.email }}"/>
                                        <label class="form-label"
                                               for="form5Example2">{{ field_label(form.email) }}</label>
                                    </div>
                                    <!-- Telefono input -->
                                    <div class="form-outline mb-3">
                                        <input name="{{ field_name(form.telefono) }}" type="tel" id="form4"
                                               class="form-control"
                                               value="{{ comercio.telefono }}"/>
                                        <label class="form-label" for="form4">{{ field_label(form.telefono) }}</label>
                                    </div>
                                    <!-- Direccion input -->
                                    <div class="form-outline mb-3">
                                        <input name="{{ field_name(form.direccion) }}" type="text" id="direccion"
                                               class="form-control"
                                               value="{{ comercio.direccion }}" onkeyup="mapa()" required/>
                                        <label class="form-label" for="direccion">{{ field_label(form.direccion) }}</label>

                                        <section>
                                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXfC6YS6x486gAff9-InexBfZaerhr9p4"></script>
                                            <div class="mapa-estilo2" id="map"></div>
                                        </section>
                                    </div>

                                    <!-- Descripcion input -->
                                    <div class="form-outline mb-3">
                                        <textarea name="{{ field_name(form.descripcion) }}" class="form-control"
                                                  id="textAreaExample" maxlength="255"
                                                  rows="4" required>{{ comercio.descripcion }} </textarea>
                                        <label class="form-label"
                                               for="form5">{{ field_label(form.descripcion) }}</label>
                                    </div>
                                    <!-- Descripcion larga input -->
                                    <div class="form-outline mb-3">
                                        <textarea name="{{ field_name(form.descripcionLarga) }}" class="form-control"
                                                  id="descripcionLarga"
                                                  rows="4">{{ comercio.descripcionLarga | raw }}</textarea>
                                        <label class="form-label" for="descripcionLarga"></label>
                                        <p class="text-center">
                                            Recomendamos una longitud de texto superior a las 200 palabras: <span class="badge rounded-pill text-white" id="resultado"></span>
                                        </p>
                                    </div>

                                    {% if comercio.estado != 1 or is_granted('ROLE_ADMIN') %}
                                        <!-- Estado input -->
                                        <div class="form-outline mb-3">
                                            {{ form_widget(form.estado, {'attr': {'class': 'form-control active'}}) }}
                                            <label class="form-label"
                                                   for="form20">{{ field_label(form.estado) }}</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading w9"></div>
                                                <div class="form-notch-middle w46"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div style="text-align: center; margin-top: 3%">
                                        <button type="submit" class="btn btn-link btn-sm btn-rounded">
                                            <a href="{{ path('admin_comercios') }}">
                                                <i class="far fa-square-check fa-2x green"
                                                >{{ button_label|default('') }}</i></a>
                                        </button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                    <!-- content categorias -->
                    <div
                            class="tab-pane fade"
                            id="v-tabs-categorias"
                            role="tabpanel"
                            aria-labelledby="v-tabs-categorias-tab"
                    >
                        <h1 class="mt-5 mb-5 text-center">Categoría</h1>

                        <!-- Categoria input -->
                        <div class="form-outline mb-3">
                            <div class="row">
                                {% for categoria in categorias %}
                                <div class="form-check form-group mb-4 col-4">
                                    <input onclick="obtenerIdSeleccionado()" class="form-check-input" type="radio"
                                           value="{{ categoria.id }}"
                                           name="categoria"
                                           id="categoria{{ categoria.id }}"
                                            {% if ids is not empty and categoria.id == ids[0] %} checked {% endif %}>
                                    <label class="form-check-label text-capitalize"
                                           for="categoria{{ categoria.id }}">
                                        {{ categoria.nombre }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="text-center mt-3">
                                <button onclick="nuevaCategoria()" class="btn btn-link btn-sm btn-rounded">
                                        <i class="far fa-square-check fa-2x green"
                                           >{{ button_label|default('') }}</i>
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- content horarios -->
                    <div
                            class="tab-pane fade"
                            id="v-tabs-horarios"
                            role="tabpanel"
                            aria-labelledby="v-tabs-horarios-tab"
                    >
                        <h1 class="text-center mt-3">Horarios</h1>
                        <!--Horarios del comercio-->
                        <div class="row">
                            <table>
                                <thead class="bg-light">
                                <tr>
                                    <th>Día</th>
                                    <th>Hora apertura</th>
                                    <th>Hora Cierre</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for hora in horas %}
                                    <tr>
                                        <td>{{ hora.nombreDia }}</td>
                                        <td>{{ hora.horaApertura|date('H:i') }}</td>
                                        <td>{{ hora.horaCierre|date('H:i') }}</td>
                                        <td onclick="borrarHorario({{ hora.id }})"><i class="fas fa-trash-can fa-1x red"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <!--Añadir Horarios al comercio-->
                                <tr>
                                    <td>
                                        <select name="dia" class="form-select" id="dia">
                                            <option value="dia">dia</option>
                                            <option value="1">Lunes</option>
                                            <option value="2">Martes</option>
                                            <option value="3">Miercoles</option>
                                            <option value="4">Jueves</option>
                                            <option value="5">Viernes</option>
                                            <option value="6">Sabado</option>
                                            <option value="7">Domingo</option>
                                        </select>
                                    </td>

                                    <td><input type="time" name="horaApertura" id="horaApertura"></td>
                                    <td><input type="time" name="horaCierre" id="horaCierre"></td>
                                    <td>
                                        <button onclick="nuevoHorario()" class="btn btn-link btn-sm btn-rounded" id="sbmBtn">
                                            <i class="far fa-square-check fa-2x green"
                                              >{{ button_label|default('') }}</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="hidden"
                                   name="comercio"
                                   value="{{ comercio.id }}">
                        </div>
                    </div>

                    <!-- content fotos -->
                    <div
                            class="tab-pane fade"
                            id="v-tabs-fotos"
                            role="tabpanel"
                            aria-labelledby="v-tabs-fotos-tab"
                    >
                        <h1 class="text-center mt-3">Añadir fotos</h1>
                        <!-- Ver fotos del comercio -->
                        <div class="row gap-2 mb-2">
                            {% for foto in comercio.fotos %}
                                <div class="col-6 col-md-4 col-lg-3 tarjeta"
                                     style="background-image: url({{ asset('storage/thumb/' ~ comercio.id ~ '/' ~ foto.archivo) }})">
                                    <div class="acciones">
                                        <div>
                                            <button onclick="destacada({{ foto.id }})"
                                                    class="btn btn-link btn-sm btn-rounded">
                                                {% if foto.isDestacada %}
                                                    <i class="fas fa-star fa-2x yellow"
                                                       >{{ button_label|default('') }}</i>
                                                {% else %}
                                                    <i class="far fa-star fa-2x yellow"
                                                       >{{ button_label|default('') }}</i>
                                                {% endif %}
                                            </button>

                                            <button onclick="borrarFoto({{ foto.id }})" class="btn btn-link btn-sm btn-rounded">
                                                <i class="fas fa-trash-can fa-2x red"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <!-- Ver fotos del comercio -->

                        <!-- Añadir fotos al comercio -->
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                                    data-mdb-target="#addFoto">
                                <i class="fas fa-circle-plus"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addFoto" tabindex="-1" aria-labelledby="addFotoLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addFotoLabel">Añadir foto</h5>
                                            <button type="button" class="btn-close btn-link btn-sm btn-rounded"
                                                    data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                            <div class="modal-body">
                                                <input class="form-control" type="file" name="foto"
                                                       accept="image/*"><input
                                                        type="hidden"
                                                        name="comercio"
                                                        value="{{ comercio.id }}">
                                            </div>
                                            <div class="modal-footer">
                                                <button onclick="nuevaFoto({{ comercio.id }})" class="btn btn-primary" id="sbmBtn2">Subir Foto
                                                </button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Añadir fotos al comercio -->
                    </div>

                    <!-- content eliminar -->
                    <div
                            class="tab-pane fade"
                            id="v-tabs-eliminar"
                            role="tabpanel"
                            aria-labelledby="v-tabs-eliminar-tab"
                    >
                        <h1 class="text-center mt-3 mb-3">Eliminar comercio</h1>
                        <!--Eliminar comercio-->
                        <div class="row">
                            <p class="mt-5 text-center">Eliminar este comercio de forma permanente</p>

                            <!-- Modal Borrar-->
                            <div class="modal fade" id="borrarComercio" tabindex="-1"
                                 aria-labelledby="borrarLabel2"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="borrarLabel2">¿Está seguro de borrar
                                                el
                                                comercio?</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Será eliminado definitivamente y los archivos asociados a
                                                este.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-mdb-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <a href="{{ path('comercio_delete', {'id': comercio.id}) }}">
                                                <button type="button" class="btn btn-primary">Aceptar
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Borrar-->
                        </div>
                    </div>

                    <!--otro content nuevo-->

                </div>
            </div>
            <!-- Tab content -->
        </div>
        <!-- Tabs nav vertical -->
    </section>
{% endblock %}
{% block js %}
    <script>
        var pestana = window.location.hash;
        // Ckeditor
        ClassicEditor
            .create(document.querySelector('#descripcionLarga'), {
                toolbar: {
                    items: [
                        'undo', 'redo',
                        '|', 'heading',
                        '|', 'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor',
                        '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
                        '|', 'uploadImage', 'blockQuote', 'codeBlock',
                        '|', 'bulletedList', 'numberedList', 'todoList', 'outdent', 'indent'
                    ],
                    shouldNotGroupWhenFull: false
                }
            })
            .catch(error => {
                console.error(error);
            })
            .then(descripcionLarga => {
                window.descripcionLarga = descripcionLarga; // Almacena la instancia del editor en una variable global
                descripcionLarga.model.document.on('change:data', () => {
                    mostrarConteo(descripcionLarga);
                })
            });

        // tabpane
        window.addEventListener('scroll', function () {
            var navbar = document.getElementById('navVertical');
            var navbar2 = document.getElementById('navVertical2');

            if (window.scrollY === 0 ) {
                navbar.classList.remove('fixed-top');
                navbar2.classList.remove('offset-3');
            } else if(window.innerWidth > 600) {
                navbar.classList.add('fixed-top', 'mt-4');
                navbar2.classList.add('offset-3');
            }
        });


        function obtenerCategoriasSeleccionadas() {
            return Array.from(document.querySelectorAll('input[name="categoria"]:checked')).map(input => input.value);
        }

        function obtenerIdSeleccionado() {
            var inputSeleccionado = document.querySelector('input[name="categoria"]:checked');
            if (inputSeleccionado) {
                var idStr = inputSeleccionado.id.replace('categoria', '');
                return parseInt(idStr, 10);
            }
            return null;
        }

        function nuevaFoto(id) {
            var url = '/admin/foto/new';
            var formData = new FormData();
            var inputFile = document.querySelector('input[name="foto"]');  // Ajusta el selector según tu HTML
            var submitButton = document.querySelector('#sbmBtn2');

            formData.append('foto', inputFile.files[0]);
            formData.append('comercio', id);

            var activeTabId = 'v-tabs-fotos-tab';
            localStorage.setItem('activeTabId', activeTabId);

            submitButton.disabled = true;

            fetch(url, {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Nueva foto añadida exitosamente');
                    location.reload(pestana);
                })
                .catch(error => {
                    console.error('Error al añadir nueva foto:', error);
                })
                .finally(() => {
                    setTimeout(() => {
                        submitButton.disabled = false;
                    }, 3000);
                });
        }

        function nuevaCategoria() {
            var comercio = {{ comercio.id }};
            var categorias = obtenerCategoriasSeleccionadas();
            var ids = obtenerIdSeleccionado();

            var url = '/admin/comercio/' + comercio + '/edit/cat';
            var formData = {
                comercio: comercio,
                categorias: categorias,
                ids: ids
            };

            var activeTabId = 'v-tabs-categorias-tab';
            localStorage.setItem('activeTabId', activeTabId);

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Categorías actualizadas exitosamente');
                    location.reload(pestana);
                })
                .catch(error => {
                    console.log('Error al actualizar categorías:', error);
                });
        }

        // foto destacada
        function destacada(id) {
            var url = '/admin/foto/' + id + '/destacar';
            var envio = {'id': id};

            var activeTabId = 'v-tabs-fotos-tab';
            localStorage.setItem('activeTabId', activeTabId);

            fetch(url, {
                method: 'POST',
                body: envio
            })
                .then(response => response.json())
                .then(data => {
                    console.log('chachi');
                    location.reload(pestana);
                })
                .catch(error => {
                    console.log(error);
                })
        }

        // add horario
        function nuevoHorario() {
            var comercio = {{ comercio.id }};
            var dia = document.getElementById('dia').value;
            var horaApertura = document.getElementById('horaApertura').value;
            var horaCierre = document.getElementById('horaCierre').value;
            var url = '/admin/horario/new';
            var formData = new FormData();
            var submitButton = document.querySelector('#sbmBtn');

            formData.append('comercio', comercio);
            formData.append('dia', dia);
            formData.append('horaApertura', horaApertura);
            formData.append('horaCierre', horaCierre);

            var activeTabId = 'v-tabs-horarios-tab';
            localStorage.setItem('activeTabId', activeTabId);

            submitButton.disabled = true;

            fetch(url, {
                    method: 'POST',
                    body: formData,
                }
            )
                .then(response => response.json())
                .then(data => {
                    console.log('chachi');
                    location.reload(pestana);
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => {
                    setTimeout(() => {
                        submitButton.disabled = false;
                    }, 3000);
                });
        }

        function borrarHorario(id) {
            var envio = {'id': id};
            var url = '/horario/' + id + '/delete';

            var activeTabId = 'v-tabs-horarios-tab';
            localStorage.setItem('activeTabId', activeTabId);

            fetch(url, {
                    method: 'POST',
                    body: envio
                }
            )
                .then(response => response.json())
                .then(data => {
                    console.log('chachi');
                    location.reload(pestana);
                })
                .catch(error => {
                    console.log(error);
                })
        }

        function borrarFoto(id) {
            var envio = {'id': id};
            var url = '/foto/' + id + '/delete';

            var activeTabId = 'v-tabs-fotos-tab';
            localStorage.setItem('activeTabId', activeTabId);

            fetch(url, {
                    method: 'POST',
                    body: envio
                }
            )
                .then(response => response.json())
                .then(data => {
                    console.log('chachi');
                    location.reload(pestana);
                })
                .catch(error => {
                    console.log(error);
                })
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Recupera y muestra el ID de la pestaña almacenada en el almacenamiento local
            var storedTabId = localStorage.getItem('activeTabId');

            if (storedTabId) {
                document.getElementById(storedTabId).click();
                localStorage.removeItem('activeTabId');
            }
        });

        // editor para descripcion larga
        function contarPalabras(descripcionLarga) {
            // Eliminar espacios en blanco al principio y al final del texto
            var textoSinEspacios = descripcionLarga.trim().split(/\s+/).filter((palabra) => {
                palabra.replace('&nbsp;', '');
                palabra.replace('</p>', '');
                console.log(palabra);
                return palabra.length > 0;
            });

            // Contar la cantidad de palabras
            return textoSinEspacios.length;
        }

        function quitarHtml(html){
            var elementoTemporal = document.createElement('div');
            elementoTemporal.innerHTML = html;
            return elementoTemporal.textContent || elementoTemporal.innerText || '';
        }

        function mostrarConteo(texto) {
            var descripcionLarga = quitarHtml(texto.getData());
            var resultado = contarPalabras(descripcionLarga);

            if(resultado <= 200){
                document.getElementById("resultado").classList.add( "text-bg-danger");
                document.getElementById("resultado").classList.remove("text-bg-warning");
                document.getElementById("resultado").classList.remove("text-bg-success");

            }else if(resultado > 200 && resultado <= 300){
                document.getElementById("resultado").classList.remove("text-bg-danger");
                document.getElementById("resultado").classList.remove("text-bg-success");
                document.getElementById("resultado").classList.add("text-bg-warning");
            }else{
                document.getElementById("resultado").classList.remove("text-bg-warning");
                document.getElementById("resultado").classList.remove("text-bg-danger");
                document.getElementById("resultado").classList.add("text-bg-success");
            }

            var resultadoElemento = document.getElementById('resultado');
            resultadoElemento.textContent = "Palabras: " + resultado;
        }

    </script>

    <script>
    // Función para inicializar el mapa
    function initMap() {
    var direccion = document.getElementById('direccion').value;

    var geocoder = new google.maps.Geocoder();

    geocoder.geocode({'address': direccion}, function (results, status) {
    if (status === 'OK') {
    var mapOptions = {
    center: results[0].geometry.location,
    zoom: 15
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
    map: map,
    position: results[0].geometry.location,
    title: 'Ubicación del Comercio'
    });
    } else {
    alert('Geocodificación fallida debido a: ' + status);
    }
    });
    }

    function mapa() {
    var direccion = document.getElementById('direccion').value;

    var geocoder = new google.maps.Geocoder();

    geocoder.geocode({'address': direccion}, function (results, status) {
    if (status === 'OK') {
    var mapOptions = {
    center: results[0].geometry.location,
    zoom: 15
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
    map: map,
    position: results[0].geometry.location,
    title: 'Ubicación del Comercio'
    });
    hideAllErrors();
    mapaOk = true;
    } else if (status === 'ZERO_RESULTS') {
    mapaOk = false;
    // alert('La dirección proporcionada no es válida. Por favor, ingrese una dirección válida.');
    } else {
    mapaOk = false;
    // alert('Geocodificación fallida debido a: ' + status);
    }
    });
    }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXfC6YS6x486gAff9-InexBfZaerhr9p4&callback=initMap">
    </script>
{% endblock %}
