{% extends 'base.html.twig' %}

{% block title %}Nuevo Comercio{% endblock %}

{% block body %}
    <div class="features-section">
        <h1 class="h3 mb-3 font-weight-normal">Crear Comercio</h1>

        {{ form_start(form) }}
        {#        {{ form_widget(form) }} #}
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input name="{{ field_name(form.nombre) }}" type="text" id="form2" class="form-control"/>
            <label class="form-label" for="form2">{{ field_label(form.nombre) }}</label>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input name="{{ field_name(form.email) }}" type="email" id="form3" class="form-control"/>
            <label class="form-label" for="form3">{{ field_label(form.email) }}</label>
        </div>
        <!-- Telefono input -->
        <div class="form-outline mb-4">
            <input name="{{ field_name(form.telefono) }}" type="tel" id="form4" class="form-control"/>
            <label class="form-label" for="form4">{{ field_label(form.telefono) }}</label>
        </div>
        <!-- Direccion input -->
        <div class="form-outline mb-4">
            <input name="{{ field_name(form.direccion) }}" type="text" id="form1" class="form-control" onchange="mapa()"/>
            <label class="form-label" for="form1">{{ field_label(form.direccion) }}</label>
        </div>
        <section>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXfC6YS6x486gAff9-InexBfZaerhr9p4"></script>
            <div id="map" style="width: 400px; height: 400px;"></div>
        </section>
        <!-- Descripcion input -->
        <div class="form-outline mb-4">
            <textarea name="{{ field_name(form.descripcion) }}" class="form-control" id="textAreaExample"
                      rows="4"></textarea>
            <label class="form-label" for="form5">{{ field_label(form.descripcion) }}</label>
        </div>
        <!-- Foto input -->
        <div class="form-group mb-4">
            <label for="inputFoto" class="form-label">{{ field_label(form.foto) }}</label>
            <input class="form-control" type="file" id="inputFoto" name="{{ field_name(form.foto) }}" accept="image/*">
        </div>

        <br>
        <button class="btn btn-lg btn-primary">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

        <a href="{{ path('admin_comercios') }}">back to list</a>
    </div>
{% endblock %}
{% block js %}
    <script>
        // Función para inicializar el mapa
        function initMap() {
            var direccion = "Plaza de España, Zaragoza";

            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({ 'address': direccion }, function (results, status) {
                if (status === 'OK') {
                    var mapOptions = {
                        center: results[0].geometry.location,
                        zoom: 15
                    };

                    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        title: 'Ubicación del Comercio'
                    });
                } else {
                    alert('Geocodificación fallida debido a: ' + status);
                }
            });
        }

    function mapa(){
    var direccion = document.getElementById('form1').value;

        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': direccion }, function (results, status) {
            if (status === 'OK') {
                var mapOptions = {
                    center: results[0].geometry.location,
                    zoom: 15
                };

                var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: 'Ubicación del Comercio'
                });
            }else if(status === 'ZERO_RESULTS'){
                alert('La dirección proporcionada no es válida. Por favor, ingrese una dirección válida.');
            } else {
                alert('Geocodificación fallida debido a: ' + status);
            }
        });
    }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXfC6YS6x486gAff9-InexBfZaerhr9p4&callback=initMap">
    </script>
{% endblock %}