<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    >
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito+Sans:opsz,wght@6..12,200;6..12,700&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">

    <!-- B CDN -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    >
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
            rel="stylesheet"
    />
    <!-- CKeditor CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav class="navbar fixed-top sin-sombra" id="navprincipal">
            <div class="container-fluid nav-principal" >
                <div class="justify-content-start d-inline d-flex">
                <button class="navbar-toggler navbar-brand" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                        aria-label="Toggle navigation">
                    {#                    <span class="navbar-toggler-icon"></span> #}
                    <i class="fa-solid fa-bars fa-1x" id="icono1"></i>
                </button>


                    <a class="navbar-brand d-none d-md-block" href="/">
                        Zaragoza comercio
                    </a>

                    <a class="navbar-brand d-none d-md-block" href="/comercio">
                        Comercios
                    </a>

                    <a class="navbar-brand d-none d-md-block" href="/#categorias00">
                        Categorias
                    </a>

                </div>

                <!-- boton -->
                <div class="text-end d-flex d-inline">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="navbar-brand me-2 sin-sombra" href="/admin/" id="texto1" >
                            Panel de Admin
                        </a>
                    {% else %}

                        {% if app.user %}
                            <a class="navbar-brand btn me-2 sin-sombra" href="{{ path('admin_comercios') }}" id="texto1">
                                Mi Comercio
                            </a>
                        {% else %}
                            <a class="navbar-brand btn me-2 sin-sombra" href="{{ path('app_login') }}" id="texto1">
                                Registrar Comercio
                            </a>
                        {% endif %}
                    {% endif %}


                    {% if app.user %}
                        <a class="navbar-brand ml-2" href="{{ path('app_logout') }}" id="icono2"><i
                                    class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    {% endif %}

                </div>
            </div>

            <div class="offcanvas offcanvas-start text-bg-ZC" tabindex="-1" id="offcanvasDarkNavbar"
                 aria-labelledby="offcanvasDarkNavbarLabel" style="font-family: 'Roboto Light', sans-serif;">
                <div class="offcanvas-header">
                    <div class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                        <a class="navbar-brand" href="#">
                            <i class="fas fa-shop fa-1x me-2"></i>Zaragoza comercio</a>
                    </div>
                    <button type="button" class="btn-close btn-close-ZC" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Zaragoza comercio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/comercio">Comercios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#categorias00">Categorías</a>
                        </li>
                        {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa-regular fa-user me-2"></i>
                                Cuenta
                            </a>
                            <ul class="dropdown-menu dropdown-menu-ZC">
                                <li><a class="dropdown-item" href="{{ path('admin_comercios') }}">Mis comercios</a></li>
                                <li><a class="dropdown-item" href="{{ path('comercio_new') }}">Crear comercio</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">
                                        <i class="fa-regular fa-user me-2"></i>
                                        Iniciar sesión</a>
                                </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

{#        <nav class="navbar bg-body-ZC ms-5 sin-sombra position-absolute top-0 d-none d-md-block">#}
{#            <div class="container-fluid justify-content-start">#}
{#                <a class="navbar-brand" href="/">#}
{#                    Home#}
{#                </a>#}
{#                <a class="navbar-brand" href="/comercio">#}
{#                    Comercios#}
{#                </a>#}
{#                <a class="navbar-brand" href="/#categorias00">#}
{#                    Categorias#}
{#                </a>#}
{#            </div>#}
{#        </nav>#}

    {% endblock %}
</header>
<main>
    {% block body %}
    {% endblock %}
</main>
<footer class="text-bg-ZC">
    {% block footer %}
        <div class="container-fluid">
            <div class="container">
                <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
                    <div class="col mb-3">
                        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-ZC text-decoration-none">
                            <i class="fas fa-shop fa-2x" style="margin-right: 10px"></i><i class="fas fa-z"></i><i
                                    class="fas fa-c"></i>
                        </a>

                        <p class="text-body-secondary">© 2023</p>
                    </div>

                    <div class="col mb-3">

                    </div>

                    <div class="col mb-3">
                        <h4>Cosas</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h4>Esas cosas</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h4>Más cosas</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    {% endblock %}
</footer>
<!-- B CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">

</script>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
></script>
<script>
    // navbar
    window.addEventListener('scroll', function() {
        var navbar = document.getElementById('navprincipal');
        var ico1 = document.getElementById('icono1');
        var ico2 = document.getElementById('icono2');
        var texto = document.getElementById('texto1');

        if (window.scrollY == 0) {
            navbar.classList.remove('bg-dark', 'shadow-3-strong');
            ico1.classList.remove('text-white');
            if (ico2){ico2.classList.remove('text-white');}
            texto.classList.remove('text-white');
            navbar.style.transition = 'background-color 0.5s ease';
        } else {
            navbar.classList.add('bg-dark','shadow-3-strong');
            ico1.classList.add('text-white');
            if (ico2){ico2.classList.add('text-white');}
            texto.classList.add('text-white');
            navbar.style.transition = 'background-color 0.5s ease';
        }
    });

    // editor para descripcion

    function contarPalabras(descripcionLarga) {
        // Eliminar espacios en blanco al principio y al final del texto
        var textoSinEspacios = descripcionLarga.trim().split(/\s+/).filter((palabra) => {
            palabra.replace('&nbsp;', '');
            palabra.replace('</p>', '');
            console.log(palabra);
            return palabra.length > 0;
        });

        // Contar la cantidad de palabras
        return textoSinEspacios.length;
    }

    function quitarHtml(html){
        var elementoTemporal = document.createElement('div');
        elementoTemporal.innerHTML = html;
        return elementoTemporal.textContent || elementoTemporal.innerText || '';
    }

    function mostrarConteo(texto) {
        var descripcionLarga = quitarHtml(texto.getData());
        var resultado = contarPalabras(descripcionLarga);


            if(resultado <= 200){
                document.getElementById("resultado").classList.add( "text-bg-danger");
                document.getElementById("resultado").classList.remove("text-bg-warning");
                document.getElementById("resultado").classList.remove("text-bg-success");

            }else if(resultado > 200 && resultado <= 300){
                document.getElementById("resultado").classList.remove("text-bg-danger");
                document.getElementById("resultado").classList.remove("text-bg-success");
                document.getElementById("resultado").classList.add("text-bg-warning");
            }else{
                document.getElementById("resultado").classList.remove("text-bg-warning");
                document.getElementById("resultado").classList.remove("text-bg-danger");
                document.getElementById("resultado").classList.add("text-bg-success");
            }


        var resultadoElemento = document.getElementById('resultado');
        resultadoElemento.textContent = "Palabras: " + resultado;
    }
</script>

{% block js %}
{% endblock %}
</body>
</html>
